<strong>Recovering password</strong>

<p>Someone has request an email alteration for email ({{ email }}). If wasn't you, change your password for security reasons.</p>

<p>To continue the alteration, use the following token {{ token }} or click the link below: </p>

<a href="{{ link }}">Create new password</a>
